{% extends 'base.html' %}
{% block content %}
    <div class="row">
    <div class="col-12">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Product</th>
            </tr>
            {%  for supplier in view_suppliers %}
                <tr>
                    <td>{{ supplier.sup_name }}</td>
                    <td>{{ supplier.sup_email }}</td>
                    <td>{{ supplier.sup_product }}</td>
                    <td><a href="/delete-product/{{ supplier.id }}">Delete</a></td>
                    <td><a href="/update-product/ {{ supplier.id }}">Update</a></td>
                </tr>

            {% endfor %}
        </table>
    </div>
    </div>
{% endblock %}